<div class="page-title">
  <h1>Friend Invite</h1>
</div>

<div class="form-container">
  <div class="signin">
    <%= form_for @invite do |f| %>
      <div class="field">
        <%= f.email_field :email, class: 'form-control', placeholder: "your friends email" %>
      </div>

      <%= f.submit "Send Invite", class: "short-submit-button"%>
    <% end %>
  </div>
  <div class="signin-page-end"></div>
</div>
