<!-- passed from controller: @user = User.new -->

<% provide(:title, 'Log in') %>

<div class="page-title">
  <h1>Login</h1>
</div>

<div class="form-container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="field">
       <%= f.email_field :email, placeholder: 'email',
                                        class: 'form-control' %>
                                        <br>
       <%= f.password_field :password, placeholder: 'password',
                                        class: 'form-control' %>
    </div>

    <div class="forgot-container">
      <div class="forgot" id="forgot">
        <%= link_to "Forgot?", new_password_reset_path %>
      </div>
    </div>

    <div class="checkbox-container">
      <div class="field">
        <%= f.label :remember_me, "Remember me", class: 'checkbox-label' %>
        <%= f.check_box :newsletter, class: 'checkbox' %>
      </div>
    </div>


    <%= f.submit "Sign in with email", class: "short-submit-button" %>
    <% end %>
    <br><br>
    <div class="btn-google">
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    </div>
    <div class="btn-facebook">
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
    <br>
  </div>
</div>
