<% provide(:title, 'Resend') %>
<h1>Resend Activation email</h1>
<h1>ALARM!!!!! WHAT IS THIS PAGE?</h1>

<div class="form-container">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for(:session, url: login_path) do |f| %>
     <%= f.label :email %>
     <%= f.email_field :email, class: 'form-control' %>

     <%= f.submit "Send activation link", class: "short-submit-button" %>
   <% end %>

   <p>
     New User? <%= link_to "Sign up now!", signup_path %>
   </p>
  </div>
</div>
