<% provide(:title, 'Password reset') %>
<div class="page-title">
  <h1>Reset password</h1>
</div>

<div class="form-container">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
     <%= render 'shared/error_messages' %>

    <div class="field">
       <%= hidden_field_tag :email, @user.email %>

       <%= f.password_field :password, class: 'form-control', placeholder: "new password" %><br>
       <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "password confirmation" %>
    </div>

     <%= f.submit "Update Password", class: "long-submit-button" %>
   <% end %>
  </div>
</div>
