<% provide(:title, 'Forgot password') %>
  <div class="page-title">
    <h1>Forgot password</h1>
  </div>

<div class="form-container">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for(:password_reset, url: password_resets_path) do |f| %>

   <div class="field">
     <%= f.email_field :email, class: 'form-control', placeholder: "what is your email?" %>
   </div>

     <%= f.submit "submit", class: "short-submit-button" %>
   <% end %>

   <div class="notice">
     <p>
       New User? <%= link_to "Sign up now!", signup_path, class: 'small-links' %>
     </p>
   </div>
  </div>
</div>
