<h1>Project</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thank you for signing up for appname! do you have a problem? click on Activate
below and you will get your fix rightaway!
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
