<p>Project.com Invitation</p>

<p>Dear owner of <%= @email %></p>

<p>This is an invitation to the Project app. Thank you for your support! By Clicking the link below, you will be taken to the signup page to create your FREE account.</p>

<center><%= link_to "FREE Sign up!", signup_path %></center>

<p>Thanks again and I hope you find Project useful</p>

<p>Best regards,</p>

<p>Project</p>
