/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
.alert {
  position: absolute;
  left: 50%;
  margin-left: -43vw;
  z-index: 100;
  width: 80vw;
  margin-top: 0.5em;
  padding: 0.5em;
  background: #ff8f6d;
  font-size: 3vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.5vh;
}

/* line 24, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
#error_explanation {
  z-index: 10;
  margin-top: 0.5em;
  background: #ff8f6d;
  font-size: 3vh;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 2em;
  border-radius: 0.5vh;
}
/* line 36, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
#error_explanation ul {
  margin-left: 20px;
  list-style-type: none;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.warning-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 0.5em;
  height: 8vh;
  background-color: #e74c3c;
}
/* line 9, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.warning-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 17, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.short-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 0.5em;
  height: 8vh;
  background-color: #ff8f6d;
}
/* line 23, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.short-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.long-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 100px;
  height: 8vh;
  background-color: #ff8f6d;
}
/* line 37, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.long-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 45, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.edit {
  height: 0.50em;
  float: right;
}

/* line 50, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.back {
  margin-left: 0.5em;
  height: 1.5em;
  float: left;
}

/* line 56, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

/* line 62, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.add-button {
  transition: 999999s;
  position: fixed;
  left: 50%;
  margin-left: -1.5em;
  bottom: 9vh;
  margin-top: 150px;
  height: 8vh;
}

/* line 72, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.short-submit-button {
  cursor: pointer;
  transition: 999999s;
  margin-top: 50px;
  background-color: #ff8f6d;
  border: none;
  width: 100%;
  height: 8vh;
  line-height: 2vh;
  font-size: 3vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* line 87, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_buttons.scss */
.long-submit-button {
  transition: 999999s;
  margin-top: 150px;
  background-color: #ff8f6d;
  border: none;
  width: 100%;
  height: 8vh;
  font-size: 3vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer {
  left: -1px;
  bottom: 0;
  height: 90px;
  width: 100%;
}

/* line 10, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.nav {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  position: fixed;
  width: 100vw;
  background-color: #15a6e9;
  bottom: 0;
}

/* line 19, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer-links {
  margin-top: 0.5em;
}
/* line 21, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer-links a {
  color: white;
}

/* line 26, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.landing-footer-links {
  margin-right: 20px;
}
/* line 29, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.landing-footer-links a {
  color: gray;
}

/* line 35, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.thin-links a {
  font-weight: 100;
}

/* line 40, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.social-icon {
  margin: 0.5em;
}

/* line 45, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.made-in-toronto h2 {
  font-weight: 100;
  color: gray;
}
/* line 5, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.selector {
  margin-top: 0.5em;
  padding-left: 2.5vw;
  -webkit-text-size-adjust: 120% !important;
  width: 100%;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border: none;
  font-size: 2vh;
  color: #4e3e41;
}

/* line 17, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.form-label {
  padding-top: 0.5em;
}

/* line 21, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.password-reset-cover {
  position: absolute;
  height: 3em;
  width: 10em;
  top: 1em;
  right: 0;
  display: block;
  background-color: #15a6e9;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notice {
  transition: 999999s;
  margin-top: -10px;
  width: 45vh;
}
/* line 35, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notice p {
  font-size: 1.7vh;
}

/* line 40, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notify-you {
  transition: 999999s;
  margin-top: -6vh;
}

/* line 45, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.form-control {
  transition: 999999s;
  padding-top: -20px;
  padding-left: 2vh;
}

/* line 51, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input, textarea, select, .uneditable-input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0.5vh;
  width: 2970px;
  height: 8vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 67, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.field input {
  -webkit-text-size-adjust: 150% !important;
  color: #4e3e41;
  margin-top: 0.5em;
  font-size: 2vh;
  border: 2px solid #999;
  border-style: none;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  max-width: 100%;
}

/* line 80, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.form-container {
  transition: 999999s;
  max-width: 45vh;
  margin-bottom: 100px;
}

/* line 87, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 91, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
label {
  transition: 999999s;
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #4e3e41;
}

/* line 101, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
#subscribe_button {
  margin-top: 0.5em;
}

/* line 105, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot-container {
  transition: 999999s;
  position: relative;
  top: -7vh;
  right: -18vh;
  height: 6vh;
  width: 8vh;
  margin-bottom: 0.5em;
  max-width: 45vh;
}

/* line 118, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot {
  right: 1vh;
  bottom: 1.2vh;
  position: absolute;
  text-decoration: none;
  transition: 999999s;
}
/* line 123, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot a {
  font-size: 3vh;
  text-decoration: none;
  color: #15a6e9;
  letter-spacing: 0.18px;
}
/* line 128, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot a:hover {
  color: #ff8f6d;
}

/* line 135, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox-label {
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-size: 3vh;
}

/* line 144, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox {
  -webkit-text-size-adjust: 200% !important;
  right: 0px;
  bottom: 0.1em;
  position: absolute;
  width: 1em;
  height: 1em;
}

/* line 153, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox-container {
  transition: 999999s;
  position: relative;
  height: 10vh;
  width: 90vw;
  max-width: 45vh;
}

/* line 163, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=checkbox]:checked {
  background: #ff8f6d;
  border: none;
}

/* line 168, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.time-field {
  transition: 999999s;
  position: relative;
  display: inline-block;
  width: 19vh;
  margin-left: 26vh;
}

/* line 176, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.date-field {
  transition: 999999s;
  position: absolute;
  width: 25vh;
}

/* line 182, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: #4e3e41;
  font-size: 2vh;
}
/* line 200, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-clear-button {
  font-size: 18px;
  height: 1px;
  position: relative;
  right: 5px;
  margin-right: 4px;
}
/* line 207, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-inner-spin-button {
  display: none;
}
/* line 210, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date] ::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}
/* line 229, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}
/* line 232, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator:hover {
  background: url("Logo.jpg") no-repeat;
  color: #e6e6e6;
  cursor: pointer;
}
/* line 238, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator:active {
  color: blue;
}

/* line 244, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: #4e3e41;
  font-size: 2vh;
}
/* line 262, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-clear-button {
  font-size: 18px;
  height: 40em;
  position: relative;
  margin-right: 2em;
}
/* line 268, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
/* line 271, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time] ::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}
/* line 290, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}
/* line 293, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator:hover {
  background: url("Logo.jpg") no-repeat;
  color: #e6e6e6;
  cursor: pointer;
}
/* line 299, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator:active {
  color: blue;
}

/* line 305, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=file] {
  display: none;
  height: 4vh;
  width: 100%;
  transition: 999999s;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

/* line 317, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.hider {
  position: absolute;
  height: 20vh;
  width: 20vh;
}

/* line 325, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.custom-file-upload {
  -webkit-text-size-adjust: 150% !important;
  cursor: pointer;
  background-color: #15a6e9;
  transition: 999999s;
  color: white;
  text-align: center;
  margin-top: 0.5em;
  font-size: 2vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: 2px solid #999;
  border-style: none;
  border-radius: 0.5vh;
  width: 45vh;
}

/* line 343, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.custom-file-reupload {
  -webkit-text-size-adjust: 150% !important;
  cursor: pointer;
  transition: 999999s;
  color: white;
  text-align: center;
  font-size: 2vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-style: none;
  border-radius: 0.5vh;
  width: 45vh;
  height: 10vh;
}
/* line 357, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.custom-file-reupload .change-upload {
  color: white;
  margin-top: -5vh;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 50px;
}

/* line 365, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
#image-edit {
  transition: 999999s;
  height: 30vh;
}

/* line 370, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
#image-show {
  transition: 999999s;
  height: 30vh;
}

/* line 375, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar {
  height: 150px;
  margin-left: 40px;
}

/* line 380, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar-edit {
  position: absolute;
}
/* line 382, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar-edit a {
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #4e3e41;
  text-decoration: none;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.dropdown-menu {
  z-index: 10;
  margin-top: 0.5vh;
  border-radius: 0.5vh;
  position: absolute;
  display: block;
  background-color: #15a6e9;
  left: 50%;
  margin-left: -47.5%;
  width: 95vw;
  display: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* line 13, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.dropdown-menu li {
  list-style-type: none;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

/* line 25, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-bar {
  background-color: #15a6e9;
  height: 8vh;
  transition: 999999s;
}

/* line 33, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.box {
  top: 10px;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: pink;
}

/* line 42, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.logo {
  z-index: 10;
  position: absolute;
  height: 4vh;
  margin-top: 2vh;
  margin-left: 20px;
  transition: 999999s;
}

/* line 50, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.login-button {
  position: absolute;
  top: 2vh;
  right: 4vh;
  text-decoration: none;
  transition: 999999s;
  color: white;
}

/* line 59, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.menubutton {
  margin-top: 1vh;
  margin-right: 35px;
  height: 3vh;
  transition: height 999999s;
}

/* line 66, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-links {
  float: right;
}
/* line 68, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-links a {
  color: white;
}

/* line 73, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.the-menu {
  margin-top: 1.4vh;
  text-align: center;
}

/* line 79, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.centered-menu-items {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* line 84, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.menu-item {
  transition: 999999s;
  display: block;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 600;
}

/* line 92, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.absolute-center {
  position: absolute;
  left: 50%;
  top: 10px;
  line-height: 0.05px;
}
/* line 97, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.absolute-center p {
  font-size: 20px;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro {
  transition: 999999s;
  min-height: 70vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #15a6e9;
  left: 0px;
  color: white;
  text-align: center;
}
/* line 22, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro h1 {
  font-size: 5vh;
  max-width: 600px;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.divider {
  background-color: lightgray;
  height: 2px;
  opacity: 0.5;
}

/* line 40, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.screenshot {
  margin-top: 5vh;
  margin-bottom: 2vh;
  height: 60vh;
  transition: 999999s;
}

/* line 47, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.paragraph-outro-background {
  background-color: #ECEFF1;
  left: 0px;
  height: 1560px;
  width: 100%;
}

/* line 54, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-paragraph-outro {
  padding-top: 100px;
  color: #4e3e41;
  text-align: center;
  width: 90%;
}

/* line 61, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.newsletter {
  transition: 999999s;
  margin-top: 55vh;
}

/* line 66, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-body {
  background-color: white;
  margin-bottom: 150px;
  color: #4e3e41;
  text-align: center;
}
/* line 71, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-body section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* line 77, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.expense-email {
  color: #15a6e9;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,800,400italic);
/* line 5, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vh;
  font-weight: 600;
  margin: 0;
  padding: 20px;
}

/* line 18, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: 600;
}

/* line 28, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  font-weight: 400;
}

/* line 41, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h5 {
  width: 700px;
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  color: #4e3e41;
}

/* line 54, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  color: #4e3e41;
}

/* line 66, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  text-align: left;
  font-weight: 400;
  color: #4e3e41;
}

/* line 76, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4e3e41;
}
/* line 11, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.card {
  transition: 999999s;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 0.5vh;
  box-shadow: 0 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  padding: 5vw;
}

/* line 25, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.page-title {
  color: #4e3e41;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.breather {
  height: 20px;
}

/* line 35, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.links {
  margin-left: 5vw;
  margin-right: 5vw;
  text-decoration: none;
  color: #15a6e9;
}

/* line 42, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.tabs {
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: #15a6e9;
  font-size: 2vh;
}

/* line 50, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.header-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #15a6e9;
}

/* line 57, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.text-links {
  text-decoration: none;
  color: #15a6e9;
  font-size: 30px !important;
}

/* line 63, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.small-links {
  font-size: 1.7vh;
  text-decoration: none;
  color: #15a6e9;
}

/* line 69, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body {
  margin: 0px;
  background-color: #ECEFF1;
}
/* line 81, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h1 {
  transition: 999999s;
}
/* line 84, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h2 {
  transition: 999999s;
}
/* line 87, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h3 {
  transition: 999999s;
}
/* line 90, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body p {
  transition: 999999s;
}
/* line 93, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body a {
  transition: 999999s;
}

/* line 100, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
section {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  min-width: 920px;
  transition: 999999s;
}

/* line 110, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
#spacing {
  display: block;
  height: 100px;
}

/* line 116, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.newsletter {
  width: 100%;
}

/* line 121, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.legal p {
  text-align: justify;
}

/* line 128, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5vh;
  padding: 1vw;
  background-color: lightgray;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/home.scss */
.home-paragraph-01 {
  color: #4e3e41;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/privacy-legal.scss */
.legal {
  color: #4e3e41;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
.table-title {
  color: #4e3e41;
}

/* line 7, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
.table-data {
  transition: 999999s;
  border-radius: 0.5vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  font-weight: 400;
  text-decoration: none;
}

/* line 35, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table {
  background: white;
  display: block;
  overflow-x: auto;
  border-style: solid;
  border: 10px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 0.5vh;
}
/* line 46, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table th {
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: #15a6e9;
  color: white;
  min-width: 10vh;
}
/* line 54, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table td {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  font-weight: 400;
  padding-left: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 63, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table td a {
  color: #4e3e41;
  display: block;
  width: 100%;
}
/* line 76, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* line 77, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table tr:hover {
  background-color: #ff8f6d;
}
/* line 79, /Users/raedtulefat/code/webapp/app/assets/stylesheets/projects.scss */
table tr:hover a {
  color: white;
}
/* line 1, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
#work-note {
  color: green;
}

/* line 5, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.container {
  padding: 10px;
  background-color: #F8F9F9;
}

/* line 10, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.action-header {
  font-weight: 1000;
}

/* line 14, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.heading {
  margin-top: 20px;
}

/* line 18, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.editor {
  width: 30vw;
  padding: 10px;
  display: inline-block;
}

/* line 24, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.preview {
  float: right;
  width: 400px;
  height: 600px;
  display: inline-block;
  background-color: white;
  padding: 10px;
}

/* Resume Styles*/
/* line 34, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.line {
  display: block;
  background-color: black;
  height: 1px;
  width: 90%;
  margin: auto;
}

/* line 42, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
h3 {
  font-size: 12px;
}

/* line 46, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
p {
  margin: 10px;
  font-size: 10px;
  font-weight: 500;
}

/* line 52, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
li {
  font-size: 10px;
  margin: 5px;
}

/*Menu Styles*/
/* line 58, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.ui-accordion-content {
  border-style: none;
  margin: 10px 0 10px 0;
  padding: 10px !important;
}

/* line 64, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
.list {
  padding-left: 10px;
}

/* line 68, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resume.scss */
textarea {
  resize: none;
  padding: 10px;
  margin: 10px 0 10px -10px;
  height: 100px;
  width: 105%;
  font-size: 10px !important;
  border-radius: 5px;
  border-width: 0px;
  background-color: #f5f5f5;
}
/* line 6, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
#intro-value {
  width: 100%;
}

/* line 13, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown {
  background: #fff;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
}

/* line 22, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown.is-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 27, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 0 32px;
  justify-content: space-between;
  cursor: pointer;
}

/* line 37, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-options-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  min-width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateY(-40px);
  transition: transform .3s, opacity .3s;
  z-index: -1;
}

/* line 52, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.is-opened .dropdown-options-container {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
  z-index: 5;
}

/* line 59, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-option {
  height: 54px;
}

/* line 63, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-option:hover {
  background: #e6e6e6;
}

/* line 67, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-inner,
.dropdown-value,
.dropdown-icon {
  pointer-events: none;
}

/* line 73, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.dropdown-icon {
  transition: transform .3s;
}

/* line 77, /Users/raedtulefat/code/webapp/app/assets/stylesheets/resumes.scss */
.is-opened .dropdown-icon {
  transform: rotateZ(180deg);
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-google {
  transition: 999999s;
  background-color: #DD4B39;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
}
/* line 13, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-google a {
  line-height: 0;
  color: white;
  text-decoration: none;
}

/* line 20, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-facebook {
  transition: 999999s;
  background-color: #3B5998;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
}
/* line 30, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-facebook a {
  line-height: 0;
  color: white;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

