/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_alert-messages.scss */
.alert {
  position: absolute;
  left: 50%;
  margin-left: -43vw;
  z-index: 100;
  width: 80vw;
  margin-top: 0.5em;
  padding: 0.5em;
  background: #3E86FA;
  font-size: 3vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.5vh;
}

/* line 24, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_alert-messages.scss */
#error_explanation {
  z-index: 10;
  margin-top: 0.5em;
  background: #3E86FA;
  font-size: 3vh;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 2em;
  border-radius: 0.5vh;
}
/* line 36, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_alert-messages.scss */
#error_explanation ul {
  margin-left: 20px;
  list-style-type: none;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.submit-word-button {
  cursor: pointer;
  transition: 999999s;
  margin-top: 0.5em;
  background-color: #3E86FA;
  border: none;
  width: 80%;
  height: 8vh;
  line-height: 2vh;
  font-size: 3vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: none;
}

/* line 19, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.warning-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 0.5em;
  height: 8vh;
  background-color: #e74c3c;
}
/* line 25, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.warning-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 33, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.short-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 0.5em;
  height: 8vh;
  background-color: #3E86FA;
}
/* line 39, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.short-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 47, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.long-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 100px;
  height: 8vh;
  background-color: #3E86FA;
}
/* line 53, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.long-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 61, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.landing-button {
  transition: 999999s;
  border-radius: 0.5vh;
  margin-top: 100px;
  height: 8vh;
  background-color: #3E86FA;
  max-width: 60vh;
}
/* line 68, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.landing-button a {
  display: block;
  color: white;
  line-height: 2.5em;
  text-decoration: none;
}

/* line 76, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.edit {
  height: 0.50em;
  float: right;
}

/* line 81, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.back {
  margin-left: 0.5em;
  height: 1.5em;
  float: left;
}

/* line 87, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

/* line 93, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.add-button {
  transition: 999999s;
  position: fixed;
  left: 50%;
  margin-left: -1.5em;
  bottom: 9vh;
  margin-top: 150px;
  height: 8vh;
}

/* line 103, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.short-submit-button {
  cursor: pointer;
  transition: 999999s;
  margin-top: 0.5em;
  background-color: #3E86FA;
  border: none;
  width: 80%;
  height: 8vh;
  line-height: 2vh;
  font-size: 3vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* line 118, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_buttons.scss */
.long-submit-button {
  transition: 999999s;
  margin-top: 150px;
  background-color: #3E86FA;
  border: none;
  width: 100%;
  height: 8vh;
  font-size: 3vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.end-logo {
  height: 5vh;
  padding-top: 5vh;
  padding-bottom: 15vh;
  bottom: 1vh;
  transition: 999999s;
}

/* line 12, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.footer {
  left: -1px;
  bottom: 0;
  height: 90px;
  width: 100%;
}

/* line 19, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.nav {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  position: fixed;
  width: 100vw;
  background-color: #F9A825;
  bottom: 0;
  z-index: 10;
}

/* line 30, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.footer-links {
  margin-top: 0.5em;
}
/* line 32, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.footer-links a {
  color: white;
}

/* line 37, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.footer-icon {
  transition: 999999s;
  height: 6vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

/* line 44, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.landing-footer-links {
  margin-right: 20px;
}
/* line 47, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.landing-footer-links a {
  color: gray;
}

/* line 53, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.thin-links a {
  font-weight: 100;
}

/* line 58, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.social-icon {
  margin: 0.5em;
}

/* line 63, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_footer.scss */
.made-in-toronto h2 {
  font-weight: 100;
  color: gray;
}
/* line 5, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.selector {
  margin-top: 0.5em;
  padding-left: 2.5vw;
  -webkit-text-size-adjust: 120% !important;
  width: 100%;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border: none;
  font-size: 2vh;
  color: #212121;
}

/* line 17, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.form-label {
  padding-top: 0.5em;
}

/* line 21, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.password-reset-cover {
  position: absolute;
  height: 3em;
  width: 10em;
  top: 1em;
  right: 0;
  display: block;
  background-color: #F9A825;
}

/* line 31, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.notice {
  transition: 999999s;
  margin-top: -10px;
  width: 45vh;
}
/* line 35, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.notice p {
  font-size: 1.7vh;
}

/* line 40, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.notify-you {
  transition: 999999s;
  margin-top: -6vh;
}

/* line 45, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.form-control {
  transition: 999999s;
  padding-top: -20px;
  padding-left: 2vh;
}

/* line 51, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input, textarea, select, .uneditable-input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0.5vh;
  width: 80%;
  height: 8vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 67, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.field input {
  -webkit-text-size-adjust: 150% !important;
  color: #212121;
  margin-top: 0.5em;
  font-size: 2vh;
  border: 2px solid #999;
  border-style: none;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  max-width: 100%;
}

/* line 80, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.form-container {
  transition: 999999s;
  max-width: 45vh;
  margin-bottom: 100px;
}

/* line 87, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 91, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
label {
  transition: 999999s;
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #212121;
}

/* line 101, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
#subscribe_button {
  margin-top: 0.5em;
}

/* line 105, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.forgot-container {
  transition: 999999s;
  position: relative;
  top: -7vh;
  right: -18vh;
  height: 6vh;
  width: 8vh;
  margin-bottom: 0.5em;
  max-width: 45vh;
}

/* line 118, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.forgot {
  right: 1vh;
  bottom: 1.2vh;
  position: absolute;
  text-decoration: none;
  transition: 999999s;
}
/* line 123, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.forgot a {
  font-size: 3vh;
  text-decoration: none;
  color: #F9A825;
  letter-spacing: 0.18px;
}
/* line 128, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.forgot a:hover {
  color: #3E86FA;
}

/* line 135, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.checkbox-label {
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-size: 3vh;
}

/* line 144, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.checkbox {
  -webkit-text-size-adjust: 200% !important;
  right: 0px;
  bottom: 0.1em;
  position: absolute;
  width: 1em;
  height: 1em;
}

/* line 153, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.checkbox-container {
  transition: 999999s;
  position: relative;
  height: 10vh;
  width: 90vw;
  max-width: 45vh;
}

/* line 163, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=checkbox]:checked {
  background: #3E86FA;
  border: none;
}

/* line 168, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.time-field {
  transition: 999999s;
  position: relative;
  display: inline-block;
  width: 19vh;
  margin-left: 26vh;
}

/* line 176, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.date-field {
  transition: 999999s;
  position: absolute;
  width: 25vh;
}

/* line 182, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: #212121;
  font-size: 2vh;
}
/* line 200, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-clear-button {
  font-size: 18px;
  height: 1px;
  position: relative;
  right: 5px;
  margin-right: 4px;
}
/* line 207, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-inner-spin-button {
  display: none;
}
/* line 210, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date] ::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}
/* line 229, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}
/* line 232, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator:hover {
  background: url("Logo.jpg") no-repeat;
  color: #e6e6e6;
  cursor: pointer;
}
/* line 238, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=date]::-webkit-calendar-picker-indicator:active {
  color: blue;
}

/* line 244, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: #212121;
  font-size: 2vh;
}
/* line 262, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-clear-button {
  font-size: 18px;
  height: 40em;
  position: relative;
  margin-right: 2em;
}
/* line 268, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
/* line 271, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time] ::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}
/* line 290, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}
/* line 293, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator:hover {
  background: url("Logo.jpg") no-repeat;
  color: #e6e6e6;
  cursor: pointer;
}
/* line 299, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=time]::-webkit-calendar-picker-indicator:active {
  color: blue;
}

/* line 305, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
input[type=file] {
  display: none;
  height: 4vh;
  width: 100%;
  transition: 999999s;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

/* line 317, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.hider {
  position: absolute;
  height: 20vh;
  width: 20vh;
}

/* line 325, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.custom-file-upload {
  -webkit-text-size-adjust: 150% !important;
  cursor: pointer;
  background-color: #F9A825;
  transition: 999999s;
  color: white;
  text-align: center;
  margin-top: 0.5em;
  font-size: 2vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: 2px solid #999;
  border-style: none;
  border-radius: 0.5vh;
  width: 45vh;
}

/* line 343, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.custom-file-reupload {
  -webkit-text-size-adjust: 150% !important;
  cursor: pointer;
  transition: 999999s;
  color: white;
  text-align: center;
  font-size: 2vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-style: none;
  border-radius: 0.5vh;
  width: 45vh;
  height: 10vh;
}
/* line 357, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.custom-file-reupload .change-upload {
  color: white;
  margin-top: -5vh;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 50px;
}

/* line 365, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
#image-edit {
  transition: 999999s;
  height: 30vh;
}

/* line 370, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
#image-show {
  transition: 999999s;
  height: 30vh;
}

/* line 375, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.gravatar {
  height: 150px;
  margin-left: 40px;
}

/* line 380, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.gravatar-edit {
  position: absolute;
}
/* line 382, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_forms.scss */
.gravatar-edit a {
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #212121;
  text-decoration: none;
}
/* line 39, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.login-button {
  position: absolute;
  top: 2vh;
  right: 4vh;
  text-decoration: none;
  transition: 999999s;
  color: white;
}

/* line 48, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.menubutton {
  margin-top: 1vh;
  margin-right: 35px;
  height: 3vh;
  transition: height 999999s;
}

/* line 55, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.header-links {
  float: right;
}
/* line 57, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.header-links a {
  color: white;
}

/* line 62, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.the-menu {
  text-align: center;
  list-style: none;
}

/* line 92, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_header.scss */
.menu-item {
  transition: 999999s;
  display: block;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 600;
}
/* line 4, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.team h2 {
  margin-bottom: 10vh;
}

/* line 9, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.team-photo {
  height: 30vh;
  margin-top: 10vh;
  margin-left: 20px;
  transition: 999999s;
}

/* line 17, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.odd-section section {
  margin-top: 50px;
  margin-right: 5vw;
  width: 80vh;
  max-width: 900px;
}
/* line 23, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.odd-section h1 {
  text-align: right;
}
/* line 26, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.odd-section h2 {
  text-align: right;
}

/* line 32, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.even-section section {
  margin-top: 50px;
  margin-left: 5vw;
  width: 80vh;
  max-width: 900px;
}
/* line 38, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.even-section h1 {
  text-align: left;
}
/* line 41, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.even-section h2 {
  text-align: left;
}

/* line 46, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.intro-heading {
  margin-top: 35vh;
  width: 90vh;
  max-width: 80vw;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 55, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #F9A825;
  background-size: 220vh;
  background-position: center top;
  text-align: center;
}
/* line 63, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro h1 {
  padding: 10vh 5vh 10vh 5vh;
  text-align: center;
  color: white;
}
/* line 69, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro h2 {
  max-width: 600px;
  padding-top: 13%;
  color: white;
  font-weight: 600px;
  text-align: center;
  color: white;
  font-weight: 600px;
  text-shadow: 2px 2px 2px #000000;
}

/* line 81, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.divider {
  background-color: lightgray;
  height: 2px;
  width: 25em;
  opacity: 0.5;
}

/* line 88, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.screenshot {
  margin-top: 5vh;
  margin-bottom: 2vh;
  height: 45vh;
  transition: 999999s;
}

/* line 95, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-icons {
  margin-top: 5vh;
  margin-bottom: 2vh;
  height: 6vh;
  transition: 999999s;
}

/* line 102, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.paragraph-outro-background {
  background-color: #ECEFF1;
  left: 0px;
  height: 400px;
  width: 100%;
}

/* line 109, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-paragraph-outro {
  color: #212121;
  text-align: center;
  width: 90%;
}

/* line 116, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.newsletter {
  transition: 999999s;
  margin-top: 55vh;
}

/* line 121, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-body {
  background-color: white;
  margin-bottom: 150px;
  color: #212121;
  text-align: center;
}
/* line 126, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.landing-page-body section {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

/* line 133, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.supporting-page-body {
  background: url(/images/landing-page-bg.png) no-repeat center center fixed;
  background-size: 200vh;
  background-position: center top;
  margin-bottom: 150px;
  color: #FAFAFA;
}
/* line 145, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.supporting-page-body section {
  margin-top: -1vh;
  padding-top: 15vh;
  padding-bottom: 35vh;
}
/* line 150, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.supporting-page-body h2 {
  text-align: left;
}
/* line 153, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.supporting-page-body a {
  text-align: center;
}

/* line 158, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.expense-email {
  color: #F9A825;
}

/* line 163, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.ca3-scroll-down-arrow {
  background-image: url("downArrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 171, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_landing-page.scss */
.ca3-scroll-down-link {
  cursor: pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
@import url(https://fonts.googleapis.com/css?family=Poppins);
/* line 8, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
h1 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 65px;
  font-weight: 100;
  font-size: 4vh;
}

/* line 20, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 4vh;
  font-weight: 100;
  font-size: 3vh;
}

/* line 31, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
  font-weight: 400;
}

/* line 44, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
h5 {
  width: 700px;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  color: #212121;
}

/* line 57, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  color: #212121;
}

/* line 69, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
p {
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  text-align: left;
  font-weight: 400;
  color: #212121;
}

/* line 79, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/_typography.scss */
a {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 4vh;
  font-weight: 100;
  font-size: 3vh;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.alert-font {
  color: red;
}

/* line 7, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.side-by-side {
  display: inline;
}

/* line 11, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.version {
  position: absolute;
  top: 10px;
  margin-left: 30vw;
  color: white;
  font-size: 10px;
}

/* line 23, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.imoji {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 5vh;
}

/* line 29, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.card {
  transition: 999999s;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 0.5vh;
  box-shadow: 0 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
}

/* line 47, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 1000px;
}

/* line 55, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.breather {
  height: 20px;
}

/* line 59, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.links {
  margin-left: 5vw;
  margin-right: 5vw;
  text-decoration: none;
  color: #F9A825;
}

/* line 66, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.tabs {
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: #F9A825;
  font-size: 2vh;
}

/* line 74, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.header-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #F9A825;
}

/* line 81, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.text-links {
  text-decoration: none;
  color: #F9A825;
  font-size: 30px !important;
}

/* line 87, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.small-links {
  font-size: 1.7vh;
  text-decoration: none;
  color: #F9A825;
}

/* line 93, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.medium-links {
  font-size: 3vh;
  text-decoration: none;
  color: #F9A825;
}

/* line 103, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body {
  margin: 0px;
  background-color: #ECEFF1;
}
/* line 115, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body h1 {
  transition: 999999s;
}
/* line 118, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body h2 {
  transition: 999999s;
}
/* line 121, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body h3 {
  transition: 999999s;
}
/* line 124, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body p {
  transition: 999999s;
}
/* line 127, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
body a {
  transition: 999999s;
}

/* line 143, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
#spacing {
  display: block;
  height: 100px;
}

/* line 149, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.newsletter {
  width: 100%;
}

/* line 154, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/custom.scss */
.legal p {
  text-align: justify;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.castle {
  font-size: 6vh;
  text-align: center;
}

/* line 8, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game-text-field {
  transition: 999999s;
  padding-top: -20px;
  padding-left: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 17, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.backspace {
  transition: 999999s;
  position: absolute;
  margin-left: 70vw;
  right: 5vw;
  margin-top: -7vh;
}

/* line 26, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game p {
  margin: 0px;
}
/* line 29, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game table {
  transition: 999999s;
  background: white;
  display: block;
  border-style: solid;
  border: 10px;
  border-spacing: 0px;
  border-color: #F9A825;
  border-style: solid;
  border-width: 2px;
  padding-right: 30vw;
  padding-left: 30vw;
}
/* line 65, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game table td {
  transition: 999999s;
  cursor: pointer;
  border-style: solid;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: #F9A825;
  border-style: solid;
  border-width: 2px;
}
/* line 74, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game table td span {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 2vh;
  font-weight: 400;
  line-height: 4vh;
  background-color: #FAFAFA;
  display: block;
  width: 3.5vh;
  height: 3.5vh;
  border-style: solid;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
/* line 92, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/games.scss */
.game table td:focus {
  outline: none;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/home.scss */
.home-paragraph-01 {
  color: #212121;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/privacy-legal.scss */
.legal {
  color: #212121;
}
/* line 3, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/social.scss */
.btn-google {
  transition: 999999s;
  background-color: #DD4B39;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
}
/* line 13, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/social.scss */
.btn-google a {
  line-height: 0;
  color: white;
  text-decoration: none;
}

/* line 20, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/social.scss */
.btn-facebook {
  transition: 999999s;
  background-color: #3B5998;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
}
/* line 30, /Users/raedtulefat/code/Words and Castles/app/assets/stylesheets/social.scss */
.btn-facebook a {
  line-height: 0;
  color: white;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

