/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
.alert {
  z-index: 10;
  max-width: 42.5vh;
  margin-top: 20px;
  padding: 20px;
  background: #ff571a;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0.5vh;
}

/* line 21, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
#error_explanation {
  z-index: 10;
  max-width: 42.5vh;
  margin-top: 20px;
  padding: 20px;
  background: #ff571a;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0.5vh;
}
/* line 36, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_alert-messages.scss */
#error_explanation ul {
  margin-left: 20px;
  list-style-type: none;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer {
  left: -1px;
  bottom: 0;
  height: 90px;
  width: 100%;
}

/* line 10, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.nav {
  position: fixed;
  width: 100vw;
  background-color: #1ac2ff;
  left: -1px;
  bottom: 0;
  height: 90px;
}

/* line 19, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer-links {
  margin-top: 20px;
}
/* line 22, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.footer-links a {
  color: white;
}

/* line 27, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.landing-footer-links {
  margin-right: 20px;
}
/* line 30, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.landing-footer-links a {
  color: gray;
}

/* line 36, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.thin-links a {
  font-weight: 100;
}

/* line 41, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.social-icon {
  margin: 20px;
}

/* line 46, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_footer.scss */
.made-in-toronto h2 {
  font-weight: 100;
  color: gray;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.password-reset-cover {
  position: absolute;
  height: 3em;
  width: 10em;
  top: 1em;
  right: 0;
  display: block;
  background-color: #1ac2ff;
}

/* line 13, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notice {
  margin-top: -10px;
  transition: 999999s;
  width: 40vh;
}
/* line 17, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notice p {
  font-size: 1em;
}

/* line 22, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.notify-you {
  margin-top: -6vh;
}

/* line 26, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.form-control {
  padding-top: -20px;
  padding-left: 1em;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input, textarea, select, .uneditable-input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0.5vh;
  width: 2970px;
  height: 4em;
  font-size: 1.5em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.field input {
  color: black;
  margin-top: 20px;
  font-size: 1em;
  border: 2px solid #999;
  border-style: none;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  max-width: 100%;
}

/* line 63, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.form-container {
  transition: 999999s;
  max-width: 45vh;
  margin-bottom: 100px;
}

/* line 70, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 74, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
label {
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #4e3e41;
}

/* line 83, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.short-submit-button {
  transition: 999999s;
  margin-top: 20px;
  background-color: #ff571a;
  border: none;
  width: 100%;
  height: 4em;
  line-height: 2vh;
}

/* line 93, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.long-submit-button {
  transition: 999999s;
  margin-top: 150px;
  background-color: #ff571a;
  border: none;
  width: 100%;
  height: 4em;
}

/* line 102, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
#subscribe_button {
  margin-top: 20px;
}

/* line 106, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot-container {
  transition: 999999s;
  position: relative;
  top: -7vh;
  right: -18vh;
  height: 6vh;
  width: 8vh;
  margin-bottom: 20px;
  max-width: 45vh;
}

/* line 119, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot {
  bottom: 1.8vh;
  position: absolute;
  text-decoration: none;
  transition: 999999s;
}
/* line 124, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot a {
  font-size: 1em;
  text-decoration: none;
  color: #1ac2ff;
  letter-spacing: 0.18px;
}
/* line 129, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.forgot a:hover {
  color: #ff571a;
}

/* line 136, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox-label {
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-size: 1em;
}

/* line 145, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox {
  right: 0px;
  bottom: 0px;
  position: absolute;
  width: 2em;
  height: 2em;
}

/* line 154, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.checkbox-container {
  transition: 999999s;
  position: relative;
  height: 10vh;
  width: 90vw;
  max-width: 45vh;
}

/* line 164, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
input[type=checkbox]:checked {
  background: #ff571a;
  border: none;
}

/* line 169, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar {
  height: 150px;
  margin-left: 40px;
}

/* line 174, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar-edit {
  position: absolute;
}
/* line 176, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_forms.scss */
.gravatar-edit a {
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: #4e3e41;
  text-decoration: none;
}
/* line 4, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-bar {
  background-color: #1ac2ff;
  height: 8vh;
  transition: 999999s;
}

/* line 12, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.box {
  top: 10px;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: pink;
}

/* line 21, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.logo {
  z-index: 10;
  position: absolute;
  height: 4vh;
  margin-top: 2vh;
  margin-left: 20px;
  transition: 999999s;
}

/* line 29, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.login-button {
  position: absolute;
  top: 2vh;
  right: 4vh;
  text-decoration: none;
  transition: 999999s;
  color: white;
}

/* line 38, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.menubutton {
  margin-top: 1vh;
  margin-right: 35px;
  height: 3vh;
  transition: height 999999s;
}

/* line 45, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-links {
  float: right;
}
/* line 47, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.header-links a {
  color: white;
}

/* line 52, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.the-menu {
  margin-top: 1.4vh;
  text-align: center;
}

/* line 57, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.dropdown {
  z-index: 10;
  margin-top: 0.5vh;
  border-radius: 0.5vh;
  position: absolute;
  display: block;
  background-color: #1ac2ff;
  left: 50%;
  margin-left: -47.5%;
  width: 95vw;
  display: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* line 67, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.dropdown li {
  list-style-type: none;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

/* line 76, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.centered-menu-items {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* line 81, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.menu-item {
  transition: 999999s;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
}

/* line 89, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.absolute-center {
  position: absolute;
  left: 50%;
  top: 10px;
  line-height: 0.05px;
}
/* line 94, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_header.scss */
.absolute-center p {
  font-size: 20px;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro {
  transition: 999999s;
  min-height: 70vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #1ac2ff;
  left: 0px;
  color: white;
  text-align: center;
}
/* line 22, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-intro h1 {
  font-size: 2.5em;
  max-width: 600px;
}

/* line 31, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.divider {
  background-color: lightgray;
  height: 2px;
  opacity: 0.5;
}

/* line 40, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.screenshot {
  margin-top: 5vh;
  margin-bottom: 2vh;
  height: 60vh;
  transition: 999999s;
}

/* line 47, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.paragraph-outro-background {
  background-color: #ECEFF1;
  left: 0px;
  height: 1560px;
  width: 100%;
}

/* line 54, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-paragraph-outro {
  padding-top: 100px;
  color: #4e3e41;
  text-align: center;
  width: 90%;
}

/* line 61, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.newsletter {
  transition: 999999s;
  margin-top: 55vh;
}

/* line 66, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-body {
  background-color: white;
  margin-bottom: 150px;
  color: #4e3e41;
  text-align: center;
}
/* line 71, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.landing-page-body section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  max-width: 800px;
}

/* line 78, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_landing-page.scss */
.expense-email {
  color: #1ac2ff;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,800,400italic);
/* line 5, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding: 20px;
}

/* line 18, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

/* line 28, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* line 41, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h5 {
  width: 700px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  color: #4e3e41;
}

/* line 54, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  color: #4e3e41;
}

/* line 66, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  text-align: left;
  font-weight: 400;
  color: #4e3e41;
}

/* line 76, /Users/raedtulefat/code/webapp/app/assets/stylesheets/_typography.scss */
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4e3e41;
}
/* line 7, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.page-title {
  color: #4e3e41;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* line 13, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
section {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

/* line 23, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.breather {
  height: 20px;
}

/* line 27, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.links {
  margin-left: 5vw;
  margin-right: 5vw;
  text-decoration: none;
  color: #1ac2ff;
}

/* line 34, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.tabs {
  margin-left: 2vw;
  margin-right: 2vw;
  text-decoration: none;
  color: #1ac2ff;
  font-size: 2vh;
}

/* line 42, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.header-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #1ac2ff;
}

/* line 49, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.text-links {
  text-decoration: none;
  color: #1ac2ff;
  font-size: 30px !important;
}

/* line 55, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.small-links {
  font-size: 1em;
  text-decoration: none;
  color: #1ac2ff;
}

/* line 62, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body {
  /* Text is never inflated */
  -webkit-text-size-adjust: 200%;
  margin: 0px;
  background-color: #ECEFF1;
}
/* line 75, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h1 {
  transition: 999999s;
}
/* line 78, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h2 {
  transition: 999999s;
}
/* line 81, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body h3 {
  transition: 999999s;
}
/* line 84, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body p {
  transition: 999999s;
}
/* line 87, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
body a {
  transition: 999999s;
}

/* line 106, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
#spacing {
  display: block;
  height: 100px;
}

/* line 112, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.newsletter {
  width: 100%;
}

/* line 117, /Users/raedtulefat/code/webapp/app/assets/stylesheets/custom.scss */
.legal p {
  text-align: justify;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/home.scss */
.home-paragraph-01 {
  color: #4e3e41;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/privacy-legal.scss */
.legal {
  color: #4e3e41;
}
/* line 3, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-google {
  background-color: #DD4B39;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 1.5em;
  padding-bottom: 1.3em;
}
/* line 12, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-google a {
  line-height: 0;
  color: white;
  text-decoration: none;
}

/* line 19, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-facebook {
  background-color: #3B5998;
  width: 100%;
  color: #b13c2e;
  border-radius: 0.5vh;
  margin-bottom: 15px;
  padding-top: 1.5em;
  padding-bottom: 1.3em;
}
/* line 28, /Users/raedtulefat/code/webapp/app/assets/stylesheets/social.scss */
.btn-facebook a {
  line-height: 0;
  color: white;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

