<% provide(:title, 'Resend') %>

<%= link_to "Login", login_path, class: "login-button" %>

<div class="section">
  <div class="page-title">
    <h1>Resend Activation email</h1>
  </div>

<div class="form-container">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for(:activation_resend, url: resend_path) do |f| %>
   <div class="field">
     <%= f.email_field :email, placeholder: "email", class: 'form-control' %>
   </div>
     <%= f.submit "Send activation link", class: "short-submit-button" %>
   <% end %>

   <div class="notice">
     <p>
       New User? <%= link_to "Sign up now!", signup_path, class: 'small-links' %>
     </p>
   </div>
  </div>
</div>
