<!-- passed from controller: @user = User.new -->

<!-- <div class="gravatar-edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div> -->

<% provide(:title, 'Edit user') %>
<div class="page-title">
  <h2>Your profile</h2>
</div>

<div class="form-container">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages' %>

     <div class="field">
       <!-- <%= f.label :name %> -->
       <%= f.text_field :name, class: 'form-control' %><br>

       <!-- <%= f.label :email %> -->
       <%= f.email_field :email, class: 'form-control' %><br>

       <!-- <%= f.label :password %> -->
       <%= f.password_field :password, placeholder: "new password", class: 'form-control' %><br>

       <!-- <%= f.label :password_confirmation, "Confirmation" %> -->
       <%= f.password_field :password_confirmation, placeholder: "password confirmation", class: 'form-control' %>

       <div class="checkbox-container">
         <div class="field">
           <%= f.label :newsletter, "Newsletter signup", class: 'checkbox-label' %>
           <%= f.check_box :newsletter, class: 'checkbox' %>
         </div>
       </div>
     </div>

     <%= f.submit "Save changes", class: "short-submit-button" %>
   <% end %>
  </div>
</div>
