<!-- passed from controller: @user = User.new -->

<% provide(:title, 'Sign up') %>

<div class="page-title">
  <h1>Sign up</h1>
</div>

<div class="form-container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="field">
      <!-- <%= f.label :name %> -->
      <%= f.text_field :name, class: 'form-control', placeholder: 'what is your name?' %><br>

      <!-- <%= f.label :email %> -->
      <%= f.email_field :email, class: 'form-control', placeholder: 'what is your email' %><br>

      <!-- <%= f.label :password %> -->
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %><br>

      <!-- <%= f.label :password_confirmation, "Confirmation" %> -->
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation' %>
    </div>
    <div class="notice">
      <p>
        Already have an account? <%= link_to "Login here", login_path, class: 'small-links' %>
      </p>
    </div>

    <div class="checkbox-container">
      <div class="field">
        <%= f.label :newsletter, "Newsletter signup", class: 'checkbox-label' %>
        <%= f.check_box :newsletter, class: 'checkbox' %>
      </div>
    </div>
    <!-- <div class="field">
      <%= f.label :newsletter, "Newsletter", class: 'checkbox-label' %>
      <%= f.check_box :newsletter, class: 'checkbox' %>
    </div> -->
      <%= f.submit "Create my account", class: "short-submit-button" %>
        <div class="notice">
          <p>
            By clicking 'Sign Up' you are agreeing that you have read and agreed to
            our <%= link_to 'Terms of Service', terms_path, class: 'small-links' %> and
            <%= link_to 'Privacy Policy', privacy_path, class: 'small-links' %>
          </p>

          <p>
            Activation link lost in the mail?
            <%= link_to "Click here", resend_path, class: 'small-links' %>
          </p>
        </div>
      <!-- this was placed in double contailer due to leaking -->
    <% end %>
  </div>
</div>
