<h1>Cookie setter</h1>

<%= link_to "Back to Cookies", cookie_index_path, class: "links" %>
<%= link_to "Cookies Getter", get_cookie_path, class: "links" %>
<br><br><br>
<div class="form-container">
    <%= form_tag url_for(:controller => 'cookie', :action => 'set_cookie'), :method => 'get' do %>
    <div class="field">
      <%= text_field_tag "account", "your cookie here", class: 'form-control' %>
    </div>

      <%= submit_tag "Save", class: "short-submit-button" %>
    <% end %>
</div>
<br><br><br>

<%= link_to "Back to Cookies", cookie_index_path, class: "links" %>
