<% provide(:title, "Contact") %>


<div class="supporting-page-body">
  <section>
    <h1>CONTACT US<h1>



    <!-- <center><div class="landing-button">
      <%= link_to "647 835 1009", 'tel:6478351009', class: "links" %> <br><br><br>
    </div><center> -->

    <center><div class="landing-button">
      <%= link_to "Twitter @goodcloudio", "https://twitter.com/goodcloudio" %> <br><br><br>
    </div><center>

    <center><div class="landing-button">
      <%= link_to "Facebook @goodcloudio", "https://www.facebook.com/goodcloudio/" %> <br><br><br>
    </div><center>

    <center><div class="landing-button">
      <%= mail_to "contact@project_name" %> <br><br><br>
    </div><center>

      <br><br><br>
      
    <center><div class="landing-button">
      <%= link_to "BACK", root_path%>
    </div><center>

  </section>
</div>
