<% provide(:title, "How We Work") %>

<div class="supporting-page-body">
  <section>
    <h1>HOW WE WORK<h1>

    <h2>We will assess what your MVP requires to fully operate, break it down to separate features and Design the UX of each feature.
    <br><br>
    First things first, The initial Setup of the product: That will include the landing page, user databases, secure user login and more.
    <br><br>
    We build the product on feature by feature basis. We hear all about the current feature from you. Then wireframe the UX for it. Once you approved it. We will build it and add it to the initial product and publish it for your testing.
    </h2>

    <center><div class="landing-button">
      <%= link_to "BACK", root_path%>
    </div><center>
  </section>
</div>
