<% provide(:title, "Welcome") %>

<div class="landing-page-intro">
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br>
    <h1>Welcome to <br>
    Words and Castles</h1>
    <%= link_to "Start Game", start_path, class: "link" %>
</div>
