<% provide(:title, "Main Menu") %>

<div class="landing-page-intro">
  <div class="form_container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%= link_to "Start Game", start_path, class: "link" %>
  </div>

  <% if @games.count == 0 %>
    <h2><%= "You have #{@games.count} Games" %></h2>
  <% else %>
    <h2><%= "You have #{@games.count} Games" %></h2>
  <% end %>
</div>
