<% provide(:title, "Privacy") %>

<section>
  <div class="legal">
    <h2>Privacy Policy</h2>

    <p>Last Edited on 2016-11-30</p>
    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

    <h3>What personal information do we collect from the people that visit project_name?</h3>
    <p>When registering on our site you will be asked to enter your email address and a password of your choosing.</p>

    <h3>When do we collect information?</h3>
    <p>We collect information from you when you register on our site or subscribe to a newsletter.

    <h3>How do we use your information?</h3>
    <p>We may use the information we collect from you when you register, sign up for our newsletter for, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:

    <p>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
    To improve our website in order to better serve you.
    To allow us to better service you in responding to your customer service requests.
    To send periodic emails regarding your account and any changes to our privacy policy or Term and conditions.
    (If you opted in our Newsletter) To send periodic emails regarding project_name news, updates and features added.</p>

    <h3>How do we protect your information?</h3>
    <p>We do not use vulnerability scanning and/or scanning to PCI standards.
    We only provide articles and information. We never ask for credit card numbers.
    We do not use Malware Scanning.</p>

    <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, your password is encrypted and no one in project_name has acceess to it.</p>

    <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>

    <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

    <h3>Do we use 'cookies'?</h3>
    <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>


    <h3>We use cookies to:</h3>
    <p>Understand and save user's preferences for future visits.
    You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
    If you turn cookies off, some features will be disabled. It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>

    <p>However, you will still be able to use our services.</p>

    <h3>Third-party disclosure</h3>
    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.</p>

    <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

    <h3>Third-party links</h3>
    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

    <h3>Google</h3>
    <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users.
    We use Google AdSense Advertising on our website.
    Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network. Google AdScene <%= link_to "Privacy Policy", "https://support.google.com/adwordspolicy/answer/1316548?hl=en", class: "text-links" %></p>

    <p>We have implemented the following:</p>
    <p>Remarketing with Google AdSense, Google Display Network Impression Reporting, Demographics and Interests Reporting, DoubleClick Platform Integration</p>


    <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>


    <h3>Opting out:</h3>
    <p>Users can set preferences for how Google advertises to them using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.


    <h3>CAN SPAM Act</h3>

    <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

    <h3>We collect your email address in order to:</h3>
    <p>Send information, respond to inquiries, and/or other requests or questions
    Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.<p>


    <h3>To be in accordance with CANSPAM, we agree to the following:</h3>
          <p>Not use false or misleading subjects or email addresses.
          Identify the message as an advertisement in some reasonable way.
          Include the physical address of our business or site headquarters.
          Monitor third-party email marketing services for compliance, if one is used.
          Honor opt-out/unsubscribe requests quickly.
          Allow users to unsubscribe by using the link at the bottom of each email.</p>


    <p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.</p>

    <h3>Contacting Us</h3>
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>


    <p>project_name</p>
    <p>contact@project_name</p>
  </div>
</section>
