<% provide(:title, "The Product") %>


<div class="supporting-page-body">
  <section>
    <h1>BUILD THE PRODUCT<h1>

    <h2>Our Apps are web based so they will work on any device with a browser. So before you put the big bucks on the native iOS or Android app, the MVP we built will give you a good indication how the market is going to react to your new product. It will also be a good backend for the native apps in the future.
    <br><br>
    The product, the code and the all other details are all owned by you
    <br><br>
    We will offer 1 Month of free maintenance for the MVP. Once you decided your MVP is ready to go live. We will insure a smooth transition to your developers team<h2>

    <center><div class="landing-button">
      <%= link_to "BACK", root_path%>
    </div><center>
  </section>
</div>
