<!DOCTYPE html>
<html>
  <head>
    <title>Resume Builder</title>
  </head>
  <style media="screen">
  #work-note{
    color: green;
  }

  .container {
    padding: 10px;
    background-color: #F8F9F9;
  }

  .action-header {
    font-weight: 1000
  }

  .heading {
    margin-top: 20px;
  }

  .editor{
    width: 30vw;
    padding: 10px;
    display: inline-block;
  }

  .preview{
    float: right;
    width: 400px;
    height: 600px;
    display: inline-block;
    background-color: white;
    padding: 10px;
  }

  /* Resume Styles*/
  .line{
    display: block;
    background-color: black;
    height: 1px;
    width: 90%;
    margin: auto;
  }

  h3{
    font-size: 12px;
  }

  p {
    margin: 10px;
    font-size: 10px;
    font-weight: 500;
  }

  li{
    font-size: 10px;
    margin: 5px;
  }

  /*Menu Styles*/
  .ui-accordion-content {
    border-style: none;
    margin: 10px 0 10px 0;
    padding: 10px!important;
  }

  .list {
    padding-left: 10px;
  }

  textarea {
    resize: none;
    padding: 10px;
    margin: 10px 0 10px -10px;
    height: 100px;
    width: 105%;
    font-size: 10px!important;
    border-radius: 5px;
    border-width: 0px;
    background-color: #f5f5f5;
  }

  </style>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="styles/custom.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <body>
    <div class="jumbotron">
      <center><h2>ResumeGun</h2></center>
      <div class="container">
        <div class="editor">
          <h4>Career Menu</h4>

          <div id="accordion">
            <h3>Objective</h3>
            <div>
              <h5 id="objectives">Select an Objective Statement</h5>
              <ul class="list" id="objective-list"></ul>
            </div>

            <h3>Highlights of Qualifications</h3>
            <div>
              <h5 id="highlights">Select a Highlight Statement</h5>
              <ul class="list" id="highlight-list"></ul>
            </div>

            <h3>Work Experience</h3>

            <div>
              <h5 id="work-note">Tap to work statements to add more</h5>
              <h5 id="work">

              <h5 id="work-note">Choose From Previous Jobs to Add to Resume or Edit to create new ones</h5>
              <h5 id="jobs">
              <ul class="list" id="job-list"></ul>
            </div>

            <h3>Schools and Training</h3>
            <div>
              <h5 id="educations">Select a School Statement</h5>
              <ul class="list" id="education-list"></ul>
            </div>
          </div>
        </div>

        <div class="preview">
          <h6>Raed Tulefat</h6>
          <p>16 St, ON, Toronto, 647-835-1009, email: tulefat@gmail.com</p>
          <span class="line"></span>
          <div class="preview-objective">
            <h6 id="added-objective">Objective</h6>
              <!-- <p>This is where your resume objective goes</p> -->
          </div>

          <div class="preview-highlight">
            <h6 id="added-highlight">Highlights of Qualificaitons</h6>
              <!-- <p>This is where your resume highlights goes</p> -->
          </div>

          <div class="preview-job">
            <h6 id="added-experience">Work Experience</h6>
              <!-- <p>This is where your resume jobs goes</p> -->
          </div>

          <div class="preview-education">
            <h6 id="added-education">Education</h6>
              <!-- <p>This is where your education statements go</p> -->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
