<section>
  <div class="legal">
    <h2>Terms of Service Agreement</h2>

    <p>Last Edited on 2016-11-30</p>
    <p>project_name (“Us” or “We”) provides the https://App-itch.com/ site and various related services (collectively, the “Site”) to you (“You”), the user (“User”), subject to your compliance with all the terms, conditions, and notices contained or referenced herein (the “Terms of Service” or “TOS”), as well as any other written agreement between us and you. In addition, when using particular services or materials on or related to this Site, users shall be subject to any posted rules applicable to such services or materials that may contain terms and conditions in addition to those in these Terms of Service. All such guidelines or rules are hereby incorporated by reference into these Terms of Service.</p>

    <p>BY USING THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT WISH TO BE BOUND BY THE THESE TERMS OF SERVICE, PLEASE EXIT THE SITE NOW. YOUR REMEDY FOR DISSATISFACTION WITH THIS SITE, OR ANY PRODUCTS, SERVICES, CONTENT, OR OTHER INFORMATION AVAILABLE ON OR THROUGH THIS SITE, IS TO STOP USING THE SITE AND/OR THOSE PARTICULAR PRODUCTS OR SERVICES. YOUR AGREEMENT WITH US REGARDING COMPLIANCE WITH THESE TERMS OF SERVICE BECOMES EFFECTIVE IMMEDIATELY UPON COMMENCEMENT OF YOUR USE OF THIS SITE.</p>

    <p>These Terms of Service are effective as of the “Last Modified” date identified at the top of this page. We expressly reserve the right to change these Terms of service from time to time and send you an email notice. You acknowledge and agree that it is your responsibility to review this Site and these Terms of Service from time to time and to familiarize yourself with any modifications. Your continued use of this Site and related services after such modifications will constitute acknowledgement of the modified Terms of Service and agreement to abide and be bound by the modified Terms of Service. However, for any material modifications to the Terms of Service or in the event that such modifications materially alter your rights or obligations hereunder, such amended Terms of Service will automatically be effective upon the earlier of (i) your continued use of this Site and related services with actual knowledge of such modifications, or (ii) 30 days from publication of such modified Terms of Service on this service. Notwithstanding the foregoing, the resolution of any dispute that arises between you and us will be governed by the Terms of Service in effect at the time such dispute arose.</p>

    <h3>Overview of our Services</h3>
    <p>project_name provides a tool which [........................]. Any modifications and new features added to the Service are also subject to this TOS. project_name reserves the right to modify or discontinue the Service (or any Service plan) or any feature or functionality thereof at any time without notice to you. All rights, title and interest in and to the Service and its components (including all intellectual property rights) will remain with and belong exclusively to App-itch.</p>

    <h3>Minimum configuration requirements</h3>
    <p>To use the Service, the User must first create a User account by following the procedure described for this purpose on the Website or received by email.

    <p>To be able to use a User account, the User must enter a valid email address throughout the entire duration of the Service usage period.

    <h3>Viewing Movie Trailers[.....this title needs to be changed]</h3>


    [......]


    <h3>Fees</h3>
    <p>You may agree to a one (1) month or twelve (12) month contract agreement with App-itch.
    <p>You can opt to upgrade or downgrade your service agreement to any other contract agreement that project_name is currently offering for sale at any time during your contract term.</p>
    <p>To the extent you use a Service plan that is made available for a fee, you will be required to select a payment plan and provide accurate information regarding your credit card or other payment instrument. You will promptly update your account information with any changes in your payment information. You agree to pay project_name in accordance with the terms set forth on the Site (currently, App-itch.com/pricing and related pages) and this TOS, and you authorize project_name or its third-party payment processors to bill your payment instrument in advance on a periodic basis in accordance with such terms.</p>
    <p>If you dispute any charges you must let project_name know within sixty (60) days after the date that project_name bills you. All amounts paid are non-refundable and we reserve the right to change our prices in the future. If we increase our prices for your Service plan, we will provide notice of the change on the Site and in email to you at least 30 days before the change is to take effect. Your continued use of the Service after the price change goes into effect constitutes your agreement to pay the changed amount. project_name may choose to bill you through an invoice, in which case, full payment for invoices issued must be received by the date specified in the invoice. Past due fees are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all expenses of collection. You shall be responsible for all taxes associated with Services other than U.S. taxes based on project_name’s net income.</p>
    <p>At the end of the contract term, your contract will automatically renew for an additional contract term until explicitly cancelled by you. Cancellation must be issued via your account at https://App-itch.com Any cancellation issued via the Site must be done at least one (1) day prior to the end of the contract term. Any cancellation not issued via https://App-itch.com must be done five (5) days prior to the end of the contract term to allow for adequate processing time.</p>
    <p>Only Services and features clearly indicated as “free” or “no charge” are free or without charge. It is not the responsibility of project_name to provide free support for you in the use and operation of App-itch. All other applications, features, functionality and support provided by project_name are provided for the fees described for each service on the Site (“Fees”) and you are liable for such Fees.</p>
    <p>If you purchase any Services that we offer for a Fee, you agree to project_name, or our third party service providers, storing your payment card information. You expressly agree that we are authorized to charge you (i) a monthly Fee for any applicable Services billed on a monthly basis, (ii) any other Fees for Services you may purchase, and (iii) any applicable taxes in connection with your use of the Services to the payment card you provide and to reimburse us for all collection costs and interest for any overdue amounts. If the payment card you provide expires and you do not provide new payment card information or cancel your account, you authorize us to continue billing you and you agree to remain responsible for any uncollected Fees.</p>
    <p>If you dispute any charges you must let project_name know within sixty (60) days after the date that project_name invoices or bills you. All amounts paid are non-refundable and we reserve the right to change our prices in the future. If we increase our prices for your Service plan, we will provide notice of the change on the Site and in email to you at least 30 days before the change is to take effect. Your continued use of the Service after the price change goes into effect constitutes your agreement to pay the changed amount. project_name may choose to bill you through an invoice, in which case, full payment for invoices issued must be received by the date specified in the invoice. Past due fees are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all expenses of collection. You shall be responsible for all taxes associated with Services other than U.S. taxes based on project_name’s net income.</p>


    <h3>Third Party Payment Processors</h3>
    <p>project_name uses third party payment processors to assist it in processing your personally identifiable payment information securely. Such third party processors’ use of your personal information is governed by their respective privacy policies which may or may not contain privacy protections as protective as this privacy policy. Payments are currently processed and managed using the third party vendors below. We will inform you which payment processors are used when processing your payments.</p>

    <h3>Term and Termination</h3>
    <p>This TOS will continue in full effect unless and until your account or this TOS is terminated as described herein. Service plans that are paid monthly will automatically renew for additional months, and Service plans that are paid annually will automatically renew for additional years. You have the right to deactivate your account at any time by using the account deactivation interface provided at https://App-itch.com</p>
    <p>Monthly memberships can be canceled at any time with no additional fees. If you cancel, you will be charged for that month’s service (as well as all prior months of service), but we will not charge you for the month following the month in which you cancel. You can continue using project_name for the remaining time for which you have paid but we will not be able to issue a refund at that point. Subscriptions may be cancelled by logging into your account at https://App-itch.com</p>

    <h3>Termination of Service</h3>
    <p>We may modify, replace, refuse access to, suspend or discontinue the Services, partially or entirely, or add, change and modify prices for all or part of the Services for you or for all our users at any time and in our sole discretion. All of these changes shall be effective upon their posting on the Site or by direct communication to you unless otherwise noted. We may cancel your monthly membership for any or no reason immediately upon notice to you but, if we do, we will give you a prorated refund at the standard monthly rate for any time period for which you have already paid. Moreover:</p>
    <p>Services may be terminated by us, without cause, at any time.</p>
    <p>Services may be terminated by you, without cause, by following the cancellation procedures set forth in the Term and Termination section.</p>
    <p>project_name may terminate Services at any time, without penalty and without notice, if you fail to comply with any of the terms of this Agreement or the intellectual property protections applicable to these Services.</p>
    <p>Notice of termination of Services by project_name may be sent to the contact e-mail associated with your account. Upon termination, project_name has the right to delete all data, files, or other information that is stored in your account.</p>


    <h3>Rules</h3>
    <p>To ensure the quality of the project_name experience we have set up our Terms of Service for our mutual benefit. If you violate these rules it will mean you’ve broken the terms of service and this may result in a termination of your account. You agree to all of the following:</p>
    <p>You hereby certify that you are at least 13 years of age. Individuals under the age of 13 are prohibited from using the Site and Services.</p>
    <p>You will ensure the email address provided in your account registration is valid at all times and will keep your contact information accurate and up-to-date.</p>
    <p>You will not use the Services for any unlawful purposes or to conduct any unlawful activity, including, but not limited to, fraud, embezzlement, money laundering or insider trading.</p>
    <p>You will not use the Services or Site to impersonate another person.</p>
    <p>You will not share your password, let anyone else access your account, or do anything that might jeopardize the security of your account.</p>
    <p>project_name has a zero tolerance policy for abusive language and/or abusive behavior towards our company, the Service we provide and/or our employees.</p>

    <h3>Privacy</h3>
    <p>We encourage you to read the Privacy Policy, and to use the information it contains to help you make informed decisions.</p>
    <p>In order for us to provide the Service to you, we require that you grant us certain rights with respect to Your Data. For example, we need to be able to transmit, store and copy Your Data in order to display it to you, to make backups to prevent data loss, and so on. Your acceptance of this TOS gives us the permission to do so and grants us any such rights necessary to provide the service to you, only for the purpose of providing the service (and for no other purpose). This permission includes allowing us to use third-party service providers (heroku by SalesForce) in the operation and administration of the Service and the rights granted to us are extended to these third parties to the degree necessary in order for the Service to be provided.</p>
    <p>If any users send us any feedback or suggestions regarding the Service, you grant project_name an unlimited, irrevocable, perpetual, free license to use any such feedback or suggestions for any purpose without any obligation to you.</p>

    <p>project_name reserves the right to use your name as a reference for marketing or promotional purposes on the Site and in other communication with existing or potential project_name customers. For example, we might list your company on one of our webpages under lists of project_name customers.</p>

    <p>We don’t want to list customers who don’t want to be listed, so you may send an email to contact@App-itch.com stating that you do not wish to be used as a reference.</p>
  </div>
</section>
