<% provide(:title, "Main Menu") %>

<div class="landing-page-intro">
    <h1>GAME OVER</h1>
    <h2><%= "YOUR SCORE IS #{@score}" %></h2>
    <br><br><br><br><br>
    <%= link_to "Start Game", start_path, class: "link" %>

  <% if @games.count == 0 %>
    <h2><%= "You have #{@games.count} Games" %></h2>
  <% else %>
    <h2><%= "You have #{@games.count} Games" %></h2>
  <% end %>
</div>
