@import "variables";

.alert {
  position: absolute;
  left: 50%;
  margin-left: -43vw;
  z-index: 100;
  width: 80vw;
  margin-top: $mini-space;
  padding: $mini-space;
  background: $brand-color2;
  font-size: $p-size;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  // padding-top: $mini-space;
  padding-right: $midi-space;
  padding-left: $midi-space;
  border-radius: $border-radius;
}

#error_explanation{
  z-index: 10;
  margin-top: $mini-space;
  background: $brand-color2;
  font-size: $p-size;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: white;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 2em;
  border-radius: $border-radius;
  ul{
    margin-left: 20px;
    list-style-type: none;
  }
}
