@import "variables";

.submit-word-button{
  cursor: pointer;
  transition: 999999s;
  margin-top: $mini-space;
  background-color: $submit-button;
  border: none;
  width: 80%;
  height: $button-and-field-height;
  line-height: 2vh;
  font-size: $button-font-size;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: $buttons-font-weight;
  display: none;
}

.warning-button{
  transition: 999999s;
  border-radius: $border-radius;
  margin-top: $mini-space;
  height: $button-and-field-height;
  background-color: $warning-button;
  a {
    display: block;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
  }
}

.short-button{
  transition: 999999s;
  border-radius: $border-radius;
  margin-top: $mini-space;
  height: $button-and-field-height;
  background-color: $brand-color2;
  a {
    display: block;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
  }
}

.long-button{
  transition: 999999s;
  border-radius: $border-radius;
  margin-top: $space;
  height: $button-and-field-height;
  background-color: $brand-color2;
  a {
    display: block;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
  }
}

.landing-button{
  transition: 999999s;
  border-radius: $border-radius;
  margin-top: $space;
  height: $button-and-field-height;
  background-color: $brand-color2;
  max-width: 60vh;
  a {
    display: block;
    color: white;
    line-height: 2.5em;
    text-decoration: none;
  }
}

.edit{
  height: 0.50em;
  float: right;
}

.back{
  margin-left: $mini-space;
  height: 1.5em;
  float: left;
}

.icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.add-button{
  transition: 999999s;
  position: fixed;
  left: 50%;
  margin-left: -1.5em;
  bottom: 9vh;
  margin-top: $para-space;
  height: 8vh;
}

.short-submit-button{
  cursor: pointer;
  transition: 999999s;
  margin-top: $mini-space;
  background-color: $submit-button;
  border: none;
  width: 80%;
  height: $button-and-field-height;
  line-height: 2vh;
  font-size: $button-font-size;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: $buttons-font-weight;
}

.long-submit-button{
  transition: 999999s;
  margin-top: $para-space;
  background-color: $submit-button;
  border: none;
  width: 100%;
  height: $button-and-field-height;
  font-size: $button-font-size;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: $buttons-font-weight;
}
