@import "variables";

.end-logo{
  height: 5vh;
  padding-top: 5vh;
  padding-bottom: 15vh;
  bottom: 1vh;

  transition: 999999s;
}

.footer {
    left: -1px;
    bottom: 0;
    height: $header-bar;
    width: 100%;
}

.nav{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  position: fixed;
  width: 100vw;
  background-color: $brand-color;
  bottom: 0;
  z-index: 10;
  // position: relative;
}

.footer-links{
  margin-top: 0.5em;
  a{
    color: $links-font-color
  }
}

.footer-icon{
  transition: 999999s;
  height: 6vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.landing-footer-links{

  margin-right: $margin-page-end;
  a{
    color: gray;
  }
}

.thin-links{
  a{
    font-weight: 100;
  }
}

.social-icon {
  margin: $mini-space;
}

.made-in-toronto{
  h2{
    font-weight: 100;
    color: gray;
  }
}
