@import "variables";

// added to bb,mfd

.selector{
  margin-top: $mini-space;
  padding-left: $midi-wspace;
  -webkit-text-size-adjust: 120%!important;
  width: 100%;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0,0,0,0.50);
  background-color: white;
  border: none;
  font-size: $form-font-size;
  color: $black-color;
}

.form-label{
  padding-top: $mini-space;
}

.password-reset-cover{
  position: absolute;
  height: 3em;
  width: 10em;
  top: 1em;
  right: 0;
  display: block;
  background-color: $brand-color;
}

.notice{
  transition: 999999s;
  margin-top: -10px;
  width: 45vh;
  p{
    font-size: $p3-size;
  }
}

.notify-you{
  transition: 999999s;
  margin-top: -6vh;
}

.form-control{
  transition: 999999s;
  padding-top: -20px;
  padding-left: $form-font-size;
}

input, textarea, select, .uneditable-input {
  // transition: 999999s;
  -webkit-appearance: none;
  outline: none;
  border-radius: $border-radius;

  width: 80%;
  height: $button-and-field-height;
  // margin-bottom: 1vh;
  // line-height: 70px;
  // letter-spacing: 1px;


  @include box_sizing;
}

.field input {
  -webkit-text-size-adjust: 150%!important;
  // transition: 999999s;
  color: $black-color;
  margin-top: $mini-space;
  font-size: $form-font-size;
  border: 2px solid #999;
  border-style: none;
  box-shadow: inset 0px 0.2vh 1vh 0 rgba(0,0,0,0.50);
  border-radius: $border-radius;
  max-width: 100%;
}

.form-container {
  transition: 999999s;
  max-width: 45vh;
  margin-bottom: $space;
}

// remove the autofill yellow background
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

label {
  transition: 999999s;
  display: table-cell; //keeps input field stacked vertically
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: $black-color;
}

#subscribe_button{
  margin-top: $mini-space;
}

.forgot-container{
  transition: 999999s;
  // position: relative;
  // top: -7vh;
  // right: -18vh;
  // background: pink;
  height: 6vh;
  width: 8vh;
  margin-bottom: $mini-space;
  max-width: $form-input-max-width;

}

.forgot{
  // right: 5vh;
  // bottom: 1.2vh;
  // position: absolute;
  text-decoration: none;
  a {
    font-size: $button-font-size;
    text-decoration: none;
    color: $brand-color;
    letter-spacing: 0.18px;
  &:hover {
    color: $brand-color2;
    }
  }
  transition: 999999s;
}

.checkbox-label{
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  font-size: $button-font-size;
  // padding-top: 1vh;
}

.checkbox {
  -webkit-text-size-adjust: 200%!important;
  right: 0px;
  bottom: 0.1em;
  position: absolute;
  width: 1em;
  height: 1em;
}

.checkbox-container{
  transition: 999999s;
  position: relative;
  // background: pink;
  height: 10vh;
  width: 90vw;
  // margin-bottom: $mini-space;
  max-width: $form-input-max-width;
}

input[type=checkbox]:checked {
  background: $brand-color2;
  border: none;
}

.time-field {
  transition: 999999s;
  position: relative;
  display: inline-block;
  width: 19vh;
  margin-left: 26vh;
}

.date-field {
  transition: 999999s;
  position: absolute;
  width: 25vh;
}

input[type=date] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: $black-color;
  font-size: $form-font-size;

  // &::-webkit-datetime-edit-month-field {
  //   color: red;
  // }
  // &::-webkit-datetime-edit-day-field {
  //   color: white;
  // }
  // &::-webkit-datetime-edit-year-field {
  //   color: blue;
  // }

  &::-webkit-clear-button {
    font-size: 18px;
    height: 1px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {

    color: rgba(0, 0, 0, 0);
    opacity: 1
  }

  // ::-webkit-calendar-picker-indicator::after {
  //
  //   content: '';
  //   display: block;
  //   // background: url(/*yourURLHere*/) no-repeat;
  //   background: image-url('Logo.jpg') no-repeat;
  //   background-size: 10%;
  //   width: 10px;
  //   height: 10px;
  //   position: absolute;
  //   transform: translateX(-2%);
  //
  // }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;

    &:hover {
      background: url('Logo.jpg') no-repeat;
      // background-color: red;
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

input[type=time] {
  transition: 999999s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  color: $black-color;
  font-size: $form-font-size;

  // &::-webkit-datetime-edit-month-field {
  //   color: red;
  // }
  // &::-webkit-datetime-edit-day-field {
  //   color: white;
  // }
  // &::-webkit-datetime-edit-year-field {
  //   color: blue;
  // }

  &::-webkit-clear-button {
    font-size: 18px;
    height: 40em;
    position: relative;
    margin-right: 2em;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {

    color: rgba(0, 0, 0, 0);
    opacity: 1
  }

  // ::-webkit-calendar-picker-indicator::after {
  //
  //   content: '';
  //   display: block;
  //   // background: url(/*yourURLHere*/) no-repeat;
  //   background: image-url('Logo.jpg') no-repeat;
  //   background-size: 10%;
  //   width: 10px;
  //   height: 10px;
  //   position: absolute;
  //   transform: translateX(-2%);
  //
  // }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;

    &:hover {
      background: url('Logo.jpg') no-repeat;
      // background-color: red;
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

input[type=file] {
  display: none;
  // margin-left: -20vh;
  // margin-top: 100px;
  // margin-bottom: 10px;
  height: 4vh;
  width: 100%;
  transition: 999999s;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
}

.hider {
  // bottom: 0px;
  position: absolute;
  height: 20vh;
  width: 20vh;
  // background-color: pink;
}

.custom-file-upload {
  -webkit-text-size-adjust: 150%!important;
  cursor: pointer;
  background-color: $brand-color;

  transition: 999999s;
  color: white;
  text-align: center;
  margin-top: $mini-space;
  font-size: $form-font-size;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border: 2px solid #999;
  border-style: none;
  border-radius: $border-radius;
  width: 45vh;
}

.custom-file-reupload {
  -webkit-text-size-adjust: 150%!important;
  cursor: pointer;
  transition: 999999s;
  color: white;
  text-align: center;
  font-size: $form-font-size;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  // border: 2px solid #999;
  border-style: none;
  border-radius: $border-radius;
  width: 45vh;
  height: 10vh;
  .change-upload {
    color: white;
    margin-top: -5vh;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: $midi-space;
  }
}

#image-edit {
  transition: 999999s;
  height: 30vh;
}

#image-show {
  transition: 999999s;
  height: 30vh;
}

.gravatar{
  height: 150px;
  margin-left: 40px;
}

.gravatar-edit{
  position: absolute;
  a{
    display: table-cell;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: left;
    color: $black-color;
    text-decoration: none;
  }
}
