@import "variables";

#header
.header-bar{
  // background-color: $brand-color;
  // height: 8vh;
  // max-height: 100px;
  transition: 999999s;

  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  /*Opacity end*/
  color: white;
  position: fixed;
  width: 100%;
  height: 150px;
}

.box{
  // z-index: 10px;
  top: 10px;
  position: absolute;
  // height: 100px;
  width: 100px;
  background-color: pink
}

// .logo{
//   z-index: 10;
//   position: absolute;
//   height: 7vh;
//   margin-top: 2vh;
//   margin-left: $margin-page-end;
//   transition: 999999s;
// }

.login-button{
  position: absolute;
  top: 2vh;
  right: 4vh;
  text-decoration: none;
  transition: 999999s;
  color: $links-font-color;
}

.menubutton{
  margin-top: 1vh;
  margin-right: 35px;
  height: 3vh;
  transition: height 999999s;
}

.header-links{
  float: right;
  a{
    color: $links-font-color;
  }

}
.the-menu {
  // margin-top: 1.4vh; //DONT TOUCH
  text-align: center;
  list-style: none;

}
.dropdown {
  z-index: 20;
  margin-top: 0.5vh;
  border-radius: $border-radius;
  position: absolute;
  display: block;
  background-color: $brand-color;
  left: 50%;
  margin-left: -47.5%;
  width: 95vw;
  li{
    list-style-type: none;
    padding-top: 1vh;
    padding-bottom: 2vh;
  }
  display: none;
  box-shadow: 0 6px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
}

.centered-menu-items{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.menu-item{
  transition: 999999s;
  display: block;
  text-decoration: none;
  font-size: $menu-font-size;
  font-weight: $menu-font-weight
}

.logout{
  transition: 999999s;
  // display: block;
  text-decoration: none;
  font-size: $menu-font-size;
  font-weight: $menu-font-weight
}
