@import "variables";

@import url(https://fonts.googleapis.com/css?family=Poppins);
// 100 400 600



h1{
  // THIS IS THE BIG HEADER IN THE CENTER OF FRONT PAGE!
  // e.g Landing page first text user sees "Awesome new App, brought to by ..."
  // used only once in the entire app

  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 65px;
  font-weight: 100;
  font-size: $h1-size;

}
h2{
  // This is header for the paragraph which is alined: Center
  // e.g headers in the terms paragraph
  // Used mutiple times per page
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 4vh;
  font-weight: 100;
  font-size: $h2-size;
}

h3{
  // This is header for the paragraph which is alined: LEFT
  // e.g headers in the terms paragraph
  // Used mutiple times per page
  // width: 700px;
  font-family: 'Poppins', sans-serif;
  font-size: $h3-size;
  font-weight: 400;
  // letter-spacing: -1px;
  // text-align: left;
  // color: $black-color;
}

h5{
  // This is the big header which centered and used for title of the page
  // e.g ABOUT
  // used once per page
  width: 700px;
  font-family: 'Poppins', sans-serif;
  font-size: $h2-size;
  font-weight: 600;
  // letter-spacing: -1px;
  text-align: center;
  color: $black-color;
}

h4{
  // This is not a header. its is P but looks bigger and better for mobile
  // e.g headers in the terms paragraph
  // Used mutiple times per page
  font-family: 'Poppins', sans-serif;
  font-size: $p2-size;
  // letter-spacing: -1px;
  text-align: left;
  font-weight: 600;
  color: $black-color;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: $p-size;
  // letter-spacing: -1px;
  text-align: left;
  font-weight: 400;
  color: $black-color;
}

// all links font size
a{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  line-height: 4vh;
  font-weight: 100;
  font-size: $h2-size;
}
