@import "variables";

.alert-font {
  color: red;
}

.side-by-side{
  display: inline;
}

.version {
  position: absolute;
  top: 10px;
  margin-left: 30vw;
  color: white;
  font-size: 10px;
}

// .transition {
//   transition: 999999s;
// }

.imoji {
  padding-top: $midi-space;
  padding-bottom: $midi-space;
  height: 5vh;
}

.card {
  transition: 999999s;
  background-color: white;
  margin-top: $midi-space;
  margin-bottom: $midi-space;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: $border-radius;
  box-shadow: 0 0.2vh 1vh 0 rgba(0,0,0,0.50);
  // padding-top: 5vh;
  // padding-bottom: 5vw;
  // padding-left: 5vw;
  // padding-right: 5vw;

}

section{
  margin-top: $midi-space;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 1000px;
}

.breather{
  height: 20px;
}

.links{
  margin-left: $wspace;
  margin-right: $wspace;
  text-decoration: none;
  color: $brand-color;
}

.tabs{
  margin-left: $mini-wspace;
  margin-right: $mini-wspace;
  text-decoration: none;
  color: $brand-color;
  font-size: 2vh;
}

.header-link{
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: $brand-color;
}

.text-links{
  text-decoration: none;
  color: $brand-color;
  font-size: 30px!important;
}

.small-links{
  font-size: $p3-size;
  text-decoration: none;
  color: $brand-color;
}

.medium-links{
  font-size: $link-font-size;
  text-decoration: none;
  color: $brand-color;
}

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
// }

body {
  // -webkit-text-size-adjust: 100%;
  // width: 104vw;
  // /* Text may be inflated */
  // -webkit-text-size-adjust: auto;
  //
  // /* Text may be inflated in this exact proportion */
  // -webkit-text-size-adjust: 80%;
  //
  // /* Global values */
  // -webkit-text-size-adjust: inherit;
  //
  h1{
    transition: 999999s;
  }
  h2{
    transition: 999999s;
  }
  h3{
    transition: 999999s;
  }
  p{
    transition: 999999s;
  }
  a{
    transition: 999999s;
  }
  margin: 0px;
  background-color: $empty-space;
}

// pages
.container{
  // width: 90%; //this determines the space ton each side
  // max-width: 1100px;
  // background-color: pink;
}



#spacing{
  display: block;
  height: 100px;
}

// newsletter
.newsletter{
  width: 100%;
}

.legal{
  p{
    text-align: justify;
  }
}
