@import "variables";

.castle {
  font-size: 6vh;
  text-align: center;
}

.game-text-field{
  transition: 999999s;
  padding-top: -20px;
  padding-left: $form-font-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.backspace {
  transition: 999999s;
  position: absolute;
  margin-left: 70vw;
  right: 5vw;
  margin-top: -7vh;
}

.game {
  p {
    margin: 0px;
  }
  table{

    transition: 999999s;
    // width: 95vw;
    background: white;
    display: block;
    // overflow-x: auto;
    border-style: solid;
    border: 10px;
    // border-collapse: separate;
    border-spacing: 0px;
    border-color: $brand-color;
    border-style: solid;
    border-width: 2px;
    padding-right: 30vw;
    padding-left: 30vw;
    // th {
      // transition: 999999s;
      // height: 0px;
      // padding-left: 0.5vh;
      // padding-right: 0.5vh;
      // background-color: $brand-color;
      // color: white;
      // font-family: 'Arial', sans-serif;
      // font-size: $h2-size;
      // width: 95vw;
      // padding-top: 3vh;
      // padding-bottom: 3vh;
      // border-style: solid;
      // border: 10px;
      // border-collapse: separate;
      // border-spacing: 0px;
      // border-color: $brand-color;
      // border-style: solid;
      // border-width: 2px;
    // }
    td {
      transition: 999999s;
      cursor: pointer;
      border-style: solid;
      border-collapse: separate;
      border-spacing: 0px;
      border-color: $brand-color;
      border-style: solid;
      border-width: 2px;
      span {
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-size: $h3-size;
        font-weight: 400;
        line-height: 4vh;
        background-color: $white-color;
        display: block;
        width:  3.5vh;
        height: 3.5vh;
        border-style: solid;
        border-collapse: separate;
        border-spacing: 0px;
        border-color: black;
        border-style: solid;
        border-width: 2px;
      }
    }
    td:focus {
      outline:none;
    }
  }
}
