@import "variables";

.btn-google{
  transition: 999999s;
  background-color: #DD4B39;
  width: 100%;
  color: #b13c2e;
  border-radius: $border-radius;
  margin-bottom: 15px;
  // height: $button-height;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
  a{
    line-height: 0;
    color: $links-font-color;
    text-decoration: none;
  }
}

.btn-facebook{
  transition: 999999s;
  background-color: #3B5998;
  width: 100%;
  color: #b13c2e;
  border-radius: $border-radius;
  margin-bottom: 15px;
  // height: $button-height;
  padding-top: 3.6vh;
  padding-bottom: 2.4vh;
  a{
    line-height: 0;
    color: $links-font-color;
    text-decoration: none;
  }
}
