@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// colors
$brand-color:     #F9A825; //Orange
$brand-color2:    #3E86FA; //bue
$empty-space:     #ECEFF1;
$black-color:     #212121;
$white-color:     #FAFAFA;
$gray-color:      #ECEFF1;
$gray-color-dark: #616161;
$warning-button: #e74c3c;
$submit-button: $brand-color2;
$links-font-color: $white-color;

$table-raw-height: 8vh;

$margin-page-end: 20px;

$mini-space: 0.5em;
$mini-wspace: 1vw;

$midi-space: 50px;
$midi-wspace: 2.5vw;

$space: 100px;
$wspace: 5vw;

$para-space: 150px;

$card-list-margin-top: 4vh;


$submit-button: $brand-color2;
$links-font-color: white;
$links-font-weight: 600;
$buttons-font-weight: 600;
$border-radius: 0.5vh;
$menu-font-weight: 600;

// typography
$button-font-size: 3vh; // bigger paragraph used for text with white space
$link-font-size: 3vh; // bigger paragraph used for text with white space
$p-size: 3vh; // regular paragraph used in privacy and terms
$p2-size: 40px; // bigger paragraph used for text with white space
$p3-size: 1.7vh; // small-print
$tiny-size: 1.4vh; // smallest
$h1-size: 4vh; // Head of the app
$h2-size: 3vh; // Head of the page
$h3-size: 2vh; // Head of the paragraph
$menu-font-size: 3vh;
$form-font-size: 2vh;
// $form-font-size: 25px;

// $form-font-size: 15px;

//buttons
$button-and-field-height: 8vh;
$button-height: 3vh;

//form
$form-input-max-width: 45vh;


// bars
$header-bar: 90px;
$footer-bar: 98px;
