<center>
  <% if current_user %>
    <div class="nav">
      <center><div class="footer-links">
          <%= link_to "Home", root_path, class: "links" %>
          <%= link_to "Projects", projects_path, class: "links" %>
          <%= link_to "Resumes", resumes_path, class: "links" %>
          <%= link_to "Cookies", cookie_index_path, class: "links" %>
      </div></center>
    </div>
  <% else %>
    <div class="landing-footer-links">
      <br><br><br><br><br><br><br><br>
      <!-- <%= link_to "HOME", root_path, class: "links" %> <br><br><br> -->
      <!-- <%= link_to "HOW IT WORKS ", '#', class: "links" %> <br><br><br> -->
      <!-- <%= link_to "ABOUT", about_path, class: "links" %> <br><br><br> -->
      <% unless current_page?(contact_path) %>
        <%= link_to "CONTACT US", contact_path, class: "links" %> <br><br><br>
      <% end %>

      <% unless current_page?(root_path) %>
        <%= link_to "HOME", root_path, class: "links" %> <br><br><br>
      <% end %>

      <!-- <%= link_to "BLOG", '#', class: "links" %> <br><br><br> -->

      <!-- <div class="thin-links"> -->
        <!-- <%= link_to "Privacy", privacy_path, class: "links" %> <br><br><br> -->
        <!-- <%= link_to "Terms", terms_path, class: "links" %> <br><br><br> -->
      <!-- </div> -->

      <!-- <div class="social">
        <%= link_to image_tag("twitter.png", :class => "social-icon"), '#' %>
        <%= link_to image_tag("facebook.png", :class => "social-icon"), '#' %>
        <%= link_to image_tag("google-plus.png", :class => "social-icon"), '#' %>
      </div> -->

      <div class="made-in-toronto">
        <h2>Made in Toronto</h2>
      </div>
    </div>
  <% end %>
</center>
