<header class="header-bar">
    <div class="header-links">
      <div class="the-menu">
        <% if current_user %>
            <!-- <%= image_tag("hamburger.png", alt:"Action",
                          :class => "menubutton")%>
            <div class="outer">
              <div class="dropdown-menu">
                <div class="centered-menu-items">
                  <li> <%= link_to "Home",
                    root_path, class: "menu-item" %></li>
                  <li> <%= link_to "Settings",
                    edit_user_path(current_user), class: "menu-item" %></li>
                  <li> <%= link_to "Invite",
                    invite_path, class: "menu-item" %></li> -->
                  <li> <%= link_to "Logout",
                    logout_path, method: "delete", class: "logout" %></li>
                <!-- </div>
              </div> -->
            </div>
        <% else %>
          <%= link_to "Login", login_path,
            class: "login-button" unless current_page?(login_path) ||
                                  # current_page?(new_password_reset_path) ||
                                  # current_page?(resend_path) ||
                                  # current_page?(privacy_path) ||
                                  # current_page?(terms_path) ||
                                  # current_page?(contact_path) ||
                                  # current_page?(about_path) ||
                                  # current_page?(password_resets) ||
                                  current_page?(root_path)%>
        <% end %>
      </div>
    </div>
</header>
