  <%= form_for Newsletter.new do |f| %>
    <div class="field">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, autofocus: false, placeholder: 'Enter your email', class: "form-control"%>
    </div>

    <div class="actions">
      <%= f.submit "Subscribe", class: 'short-submit-button', id: 'subscribe_button' %>
    </div>
  <% end %>

  <div id="spacing"></div>
