<!DOCTYPE html>
<html>
<head>

  <%= favicon_link_tag "apple-touch-icon.png",
                       rel: "apple-touch-icon",
                       sizes: "100x100",
                       type: "image/png" %>

  <title> <%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application',
                              media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body data-no-turbolink="true">

  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
      <center><div class="alert alert-<%= message_type %>"><%= message %></div></center>
  <% end %>

  <center>
      <%= yield %>
  </center>

</body>
